a {
    color: rgb(0, 80, 63);
}

.in-links {
    margin: 16px 8px;
    font-size: 1.2rem;
}

.last {
    margin-bottom: 25px;
}

a:visited {
    color: rgb(0, 119, 69);
}

a:hover {
    color: rgb(116, 116, 255);
}
	
body {
    background-image: url(FarmMeadowCrop.jpg);
    background-size: 105.5vw auto;
}

h1 {
    font-size: 1.8rem;
    font-family: 'Segoe UI', sans-serif;
    color: rgb(0, 80, 63);
    margin-left: 20px;
    margin-bottom: -20px;
}

h1 a {
    color:rgb(0, 80, 63);
}

h2 {
    font-size: 1.2rem;
    font-family: 'Segoe UI';
    color: rgb(0, 80, 63);
    margin-left: 40px;
}

p {
    padding: 2px 16px;
    opacity: 100%;
}

.divider {
    border-bottom: solid 6px rgb(65, 98, 114);
    margin-bottom: 1vh;
	margin-top: 1vh;
    margin-left: 2vw;
    width: calc(14vw + 20px + 76vw + 8px + 20px);
    border-radius: 8px;
}

.header {
    width: calc(14vw + 20px + 76vw + 4px + 20px);
	height: calc(1vh + 0.5vh + 2rem + 1.875rem + 2vh);
    border: solid 4px rgb(65, 98, 114);
    background-color: rgb(181, 181, 255);
    margin-bottom: 0.5vh;
    opacity: 90%;
    border-radius: 8px;
    margin-left: 2vw;
    margin-top: 1vh;
}

.logotitle {
	display: inline-block;
	text-align: start;
	z-index: 2;
}

.logo {
    width: auto;
    height: calc(1vh + 0.5vh + 2rem + 1.875rem);
    margin-left: 0.2vw;
    margin-top: 0.2vh;
}

.site-title {
	text-align: start;
}

.site-subtitle {
	text-align: start;
}

.lower-content {
    display: flex;
    flex-flow: row nowrap;
    height: 80vh;
    width: calc(14vw + 20px + 76vw + 0.33vw + 10px + 20px);
    margin-left: 2vw;
}

.right-content {
    width: 76vw;
    height: fit-content;
    border: solid 4px rgb(65, 98, 114);
    background-color: rgb(181, 181, 255);
    opacity: 90%;
	flex-flow: row nowrap;
    border-radius: 8px;
    padding: 10px;
    padding-bottom: 25px;
    margin-right: 4px;
    margin-left: 4px;
    font-size: 25px;
    font-family: 'Helvetica', sans-serif;
}

.left-links {
    text-align: left;
    float: left;
    width: 14vw;
    height: fit-content;
    border: solid 4px rgb(65, 98, 114);
    background-color: rgb(181, 181, 255);
    opacity: 90%;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 8px;
    padding: 10px;
}

.opener {
    width: fit-content;
	height: fit-content;
	display: inline-block;
    margin-left: 12px;
    text-align: left;
    opacity: 100%;
    position: relative;
	left: 0;
}

.opener h3 {
	border-bottom: 4px groove rgb(26, 41, 24);
}

.basedivider {
    border-bottom: solid 2px rgb(65, 114, 65);
    margin: 1px 8px;
    width: 80%;
    border-radius: 8px;
}

.portrait {
    width: 20vw;
    max-width: 225px;
    height: auto;
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    justify-content: flex-start;
    opacity: 100%;
    border: 2px solid rgb(65, 98, 114);
	display: inline-block;
}

.portrait2 {
    width: 18vw;
    max-width: 255px;
    height: auto;
    margin-left: 12px;
    margin-right: 12px;
    float: right;
    justify-content: flex-start;
    opacity: 100%;
    border: 2px solid rgb(65, 98, 114);
}

.practicehead {
    text-align: center;
    margin-left: -20px;
}

.rightlist {
    float: none;
}

.leftlist {
    float: left;
}

.rightleftlist {
    display: flex;
    margin: 5vw;
    margin-top: 1vw;
}

.appheader {
    margin-left: 5vw;
    border-bottom: 2px groove rgb(26, 41, 24);
    width: fit-content;
}

.appbody {
    margin-left: 4vw;
}

.contactheader {
    display: block;
	justify-content: center;
	text-align: center;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

#welcomevideo {
    float: right;
    margin: 5vw;
    position: relative;
}

#appform {
    text-align: center;
    border: 1px solid black;
    padding: 6px;
}

#radios {
    margin-top: 10px;
    margin-bottom: 10px;
}

#appbutton {
    font-weight:600;
    border: 1px solid rgb(65, 98, 114);
    background: rgb(183, 248, 221);
    padding: 4px;
}

#contactform {
    text-align: center;
}

#contactbox {
    width: 500px;
    height: 60px;
    margin: 8px;
    margin-top: 20px;
}

#contactbutton {
    margin-left: -0.5vw;
    margin-top: -10.5vw;
}

#firstname {
    margin: 4px;
    margin-bottom: 20px;
}

#lastname {
    margin: 4px;
    margin-bottom: 20px;
}

#letter {
    float: right;
	position: absolute;
    max-width: 320px;
    max-height: 480px;
}

#intdivider {
    border: solid 2px rgb(65, 98, 114);
    height: 0px;
    width: 76vw;
    margin-left: -0.65vw;
    margin-bottom: 8px;
    border-radius: 8px;
    position: relative;
}

#contenttext {
    position: relative;
    text-align: justify;
}

#badge {
	margin-left: auto;
	margin-right: auto;
	display: block;
	justify-content: center;
}

#tdbadge {
	display: block;
	justify-content: center;
	text-align: center;
}

#formframe {
	display: block;
	margin: auto;
	text-align: center;
	justify-content: center;
}

@media only screen and (max-width: 768px) {
body {
	background-image: none!important;
	background-color: lightblue;
  }

p {
    padding: 2px 2px;
    opacity: 100%;
    font-size: 0.8rem;
}

.header {
	margin-left: -1vw;
}

.lower-content {
	margin-left: -1vw;
}

.in-links {
    margin: 4px 2px;
    font-size: 0.8rem;
}

.site-title {
	margin-left: 4vw;
}

.site-subtitle {
	margin-left: 4.2vw;
}

.right-content {
    width: 72vw;
    height: fit-content;
	min-height: 80vh;
    border: solid 4px rgb(65, 98, 114);
    background-color: rgb(181, 181, 255);
    opacity: 90%;
    border-radius: 8px;
    padding: 2px;
    padding-bottom: 8px;
    margin-right: 2px;
    margin-left: 2px;
    font-family: 'Helvetica', sans-serif;
}

.portrait {
    width: 20vw;
    max-width: 225px;
    height: auto;
    float: left;
    margin: 6px;
	margin-top: 12px;
    justify-content: flex-start;
    opacity: 100%;
    border: 1px solid rgb(65, 98, 114);
}

.portrait2 {
    width: 18vw;
    max-width: 255px;
    height: auto;
    margin-left: 12px;
    margin-right: 12px;
    float: right;
    justify-content: flex-start;
    opacity: 100%;
    border: 1px solid rgb(65, 98, 114);
}

#welcomevideo iframe {
	height: auto;
	width: 100%;
	aspect-ratio: 16 / 9;
}

#formframe {
	height: 100%;
	width: 100%;
	max-width: 65vw;
	min-height: 100vh;
}

.opener {
	display: none!important;
}

.mobileopener {
	position: relative;
	left: 0;
	font-size: 1.1rem;
	font-color: rgb(65, 98, 114);
}

.rightleftlist {
	font-size: 1.1rem;
}

}

@media only screen and (min-width: 769px) {

.mobileopener {
	display: none;
}

}
